PUBMED_BASE_URL=https://eutils.ncbi.nlm.nih.gov/entrez/eutils
PUBMED_EMAIL=your-email@example.com
PUBMED_API_KEY= f5f749862c19a9927256c48654b3d79b4807
FRONTEND_URL=http://localhost:5173
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000
DEFAULT_PAGE=1
DEFAULT_LIMIT=10
MAX_LIMIT=50
